#togglebutton {
  border-radius: 0%;
  border-color: transparent;
}

#menusidebarbutton {
  display: none;
}

#navigateheader {
  display: block;
}

#dropButton {
  top: -7%;
}


#dropDownOption:hover {
  background-color: transparent;
  color: white;

}


@media(max-width:768px) {
  #menuicon {
    width: 35px;
    height: 35px;
  }

  #menusidebarbutton {
    display: block;
  }

  #navigateheader {
    display: none !important;
  }
}