#mainbg {
  display: flex;
  margin: 0;
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/CodingGIF.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

#blurContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  width: 100%;
  height: 140vh;
  backdrop-filter: blur(10px);
  z-index: 0 !important;
  background-color: transparent;
  overflow: hidden;
}

#blurbg {
  backdrop-filter: blur(10px);
  position: sticky !important;
  top: 0;
  z-index: 10 !important;
}

#togglebutton {
  border-radius: 0%;
  border-color: transparent;
  display: flex;
  align-self: start;
  margin-bottom: 6px;
}

#dropdownMenu {
  background: rgba(65, 72, 78, 0.1);
  backdrop-filter: blur(10px);
}

#menusidebarbutton {
  display: none;
}

#navigateheader {
  display: block;
}

#dropButton {
  top: -7%;
}


#navigatebuttonheader {
  transition: color 1s ease-out, transform 1s ease-out;
  color: white;
  transform: translateY(0%);

}

#navigatebuttonfooter {
  transition: color 1s ease-out, transform 1s ease-out;
  color: white;
  transform: translateY(0%);

}

#navigatebuttonfooter:hover {
  transition-timing-function: ease-in-out;
  transition: all 0.5s;
  background-color: transparent;
  color: rgb(172, 168, 168) !important;
}

#navigatebuttonheader:hover {
  transition-timing-function: ease-in-out;
  transition: all 0.5s;
  background-color: transparent;
  color: rgb(172, 168, 168) !important;
}

#leftSidebar {
  flex-direction: column;
  width: 13%;
  min-width: 180px;
  top: 20px;
}

#rightSidebar {
  top: 20px;
  width: 13%;
  min-width: 180px;

}



@media (max-width: 992px) {
  #widerGif {
    display: none !important;
  }

  #aboutMeInfo {
    width: 100% !important;
  }

  #navigateheader {
    display: none !important;
  }
}

@media(max-width:768px) {
  /* #mainbg .background-image {
    position: absolute;
    background-attachment: scroll;
    height: calc(100vh + 100px);
  } */


  #menuicon {
    width: 22px;
    height: 22px;
  }

  #widerGif {
    display: block !important;
  }

  #aboutMeInfo {
    width: fit-content !important;
  }

  #leftSidebar {
    display: none !important;
  }

  #rightSidebar {
    display: none !important;
  }

  #mainbg {
    padding-bottom: 0px !important;
  }


  #menusidebarbutton {
    display: block;

  }

  #mainContnent {
    width: 90% !important;
  }

  #skillsColumns {
    width: 50%;
  }

  #navigatebuttonfooter {
    font-size: medium;
    flex-wrap: wrap;
  }
}